In [3]:
## Read data from file

In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv')

In [13]:
higher_education = df[(df['education'] =='Bachelors') |(df['education'] =='Masters')|(df['education'] =='Doctorate')&(df['salary'] == '>=50k')].education.count()/df['education'].count()

In [15]:
print(higher_education)

0.21737661619729123

In [16]:
lower_education = df[(df['education'] !='Bachelors') |(df['education'] !='Masters')|(df['education'] !='Doctorate')&(df['salary'] == '>=50k')].education.count()

In [21]:
lower_education_rich = lower_education/df['education'].count()

In [22]:
lower_education_rich

0.0

In [19]:
lower_education = df[(df['education'] !='Bachelors') &(df['education'] !='Masters')&(df['education'] !='Doctorate')&(df['salary'] == '>=50k')].education.count()

In [42]:
df.groupby('education').education.count().sum()

32561

In [36]:
higher_education = df[(df['education'] =='Bachelors') |(df['education'] =='Masters')|(df['education'] =='Doctorate')&(df['salary'] == '>50K')].salary.count()

In [37]:
higher_education_rich = higher_education/df['education'].count()

In [38]:
higher_education_rich

0.22677436196677006

In [52]:
higher_education = df[(df['education'] =='Bachelors') |(df['education'] =='Masters')|(df['education'] =='Doctorate')&(df['salary'] =='>50K')]
higher_education.salary.count()

7384

In [51]:
higher_education[higher_education['salary'] == '>50K'].count()

age               3486
workclass         3486
fnlwgt            3486
education         3486
education-num     3486
marital-status    3486
occupation        3486
relationship      3486
race              3486
sex               3486
capital-gain      3486
capital-loss      3486
hours-per-week    3486
native-country    3486
salary            3486
dtype: int64

In [43]:
df[df['salary'] =='>50K'].salary.count()

7841

In [48]:
7384+4355

11739

In [49]:
df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])].count()

age               7491
workclass         7491
fnlwgt            7491
education         7491
education-num     7491
marital-status    7491
occupation        7491
relationship      7491
race              7491
sex               7491
capital-gain      7491
capital-loss      7491
hours-per-week    7491
native-country    7491
salary            7491
dtype: int64