# Demographic Data Analyzer

## index
<a href="#explpore_data">1-Explore Data</a><br>
<a href="#questions">2-questions</a>

In [1]:
import pandas as pd

### Read data from file

In [2]:
df = pd.read_csv('adult.data.csv')

## <div id="explpore_data"> 1-Explore data</div>

In [3]:
df.shape

(32561, 15)

In [4]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

## <div id="questions">2-Questions:</div>
##### 1)How many people of each race are represented in this dataset?
##### 2)What is the average age of men?
##### 3)What is the percentage of people who have a Bachelor's degree?
##### 4)What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
##### 5)What percentage of people without advanced education make more than 50K?
##### 6)What is the minimum number of hours a person works per week?
##### 7)What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
##### 8)What country has the highest percentage of people that earn >50K and what is that percentage?
##### 9)Identify the most popular occupation for those who earn >50K in India.